services:
  mongo:
    image: mongo:7
    restart: always
    ports:
      - "27019:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: rootpassword
      MONGO_INITDB_DATABASE: db
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data: